@model DebatersMag.Models.Users

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>


<h4>Welcome</h4>
<hr />


<div>
    <a asp-controller="Main" asp-action="Index">Back to Home</a>
</div> 

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
