         <div id="leftmenu" class="col-md-3">
    <ul class="nav nav-pills nav-stacked">

        <li><a href="/First/login"><span class="glyphicon glyphicon-envelope"></span> Debate</a></li>


        <li>
            <a href="/Debate/AddNewitem"><span class="glyphicon glyphicon-cloud"></span>Debate</a>
            <ul>
                <li><a href="#"><span class="glyphicon glyphicon-cloud-upload"></span>Add Debate</a></li>
            </ul>
            <ul>
                <li><a href="#"><span class="glyphicon glyphicon-cloud-upload"></span>Write Debate</a></li>
            </ul>
            <ul>
                <li><a href="#"><span class="glyphicon glyphicon-cloud-download"></span>Order Debate</a></li>

            </ul>

        </li>

        <li>
            <a href="#"><span class="glyphicon glyphicon-tasks"></span>Article</a>
            <ul>
                <li><a href="#">Write Article</a></li>
            </ul>
            <ul>
                <li><a href="#">Read Article</a></li>
            </ul>
            <ul>
                <li><a href="#">Add Article</a></li>

            </ul>

        </li>








    </ul>

</div>





